.code-block-node {
    position: relative;
    min-width: 100px;
    min-height: 50px;
    border-radius: 5px;
    background: #12111C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.code-block-node .react-flow__handle-left{
    left: 0;
    width: 6px;
    height: 10px;
    border-radius: 2px;
    background-color: #5245FF;
}

.code-block-node .react-flow__handle-right{
    right: 0;
    width: 6px;
    height: 10px;
    border-radius: 2px;
    background-color: #5245FF;
}